*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .logo{
    transition: all 0.3s ease-in-out;
    color: white;
}
nav .logo:hover{
    transform: scale(1.05);
}
.options ul li:hover{
    cursor: pointer;
}
.container{
<<<<<<< HEAD
=======
/*     padding: 3vmin 2vmin; */
>>>>>>> 665fbe8a108310fa087c80b89d4c3a2d50d533f7
    display: flex;
    gap: 2vmin;
    flex-direction: column;
    align-items: center;
}

.box{
    height:60vmin;
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 2vmin;
    display: flex;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.01);
}
.box .aboutsec{
    width: 60%;
    height: 100%;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vmin;
}
.box .aboutsec .name{
    font-size: 5vmin;
    font-weight: bold;
}
.box .img1{
    height: 100%;
    width:40%;
    padding: 2vmin;
    background-image: url(nandu.jpg);
    background-size: cover;
}
.box .img2{
    height: 100%;
    width:40%;
    padding: 2vmin;
    background-image: url(ajay.jpg);
    background-size: cover;
}
.box .img3{
    height: 100%;
    width:40%;
    padding: 2vmin;
    background-image: url(mahi.jpg);
    background-size: cover;
}
.box .img4{
    height: 100%;
    width:40%;
    padding: 2vmin;
    background-image: url(manohar.jpg);
    background-size: cover;
}
.box .img5{
    height: 100%;
    width:40%;
    padding: 2vmin;
    background-image: url(shiva.jpg);
    background-size: cover;
}
.aboutsec .about{
    font-weight: 500;
    text-align: justify;
}
.aboutsec .icon{
    height: 50px;
    width: 50px;
    padding-left: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f9ce34,#ee2a7b,#6228d7 );
    font-size: 5vmin;
    margin-top: auto;  
}
.icon a{
    color: white;
    transition: all 0.3s ease-in-out;
}
.icon:hover{
    transform: scale(1.05);
}
.icon a:hover{
    transform: scale(1.05);
    color:white;
}

footer{
    margin-top: 4vmax;
    background-color: #353238;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    color: white;
    text-decoration: none;
}

footer p a:hover{
    text-decoration:underline;
}


/* ------------MEDIA QURIES--------------------------- */
@media (max-width:1024px){
    .box .aboutsec .name{
        font-size: 3vmin;
        font-weight: bold;
    }
    .box .aboutsec .about{
        font-size: 1.8vmin;
    }
    .aboutsec .icon{
        height: 60px;
        width: 60px;
        padding-left: 12px;
        padding-top: 0px;
        font-size: 40px;
        margin-top: auto; 
        margin-bottom: 0; 
    }
    .box .img1{
        width:60%;
        background-position: center;
    }
    .box .img2{
        width:60%;
        background-position: center;
    }
<<<<<<< HEAD
    .box .img3{
        width:60%;
        background-position: center;
    }
    .box .img4{
        width:60%;
        background-position: center;
    }
    .box .img5{
        width:60%;
        background-position: center;

    }
}
@media(max-width:820px){
    .aboutsec .icon{
        height: 50px;
        width: 50px;
        padding-left: 12px;
        padding-top: 0px;
        font-size: 3vmax;
        margin-top: auto; 
        margin-bottom: 0; 
    }
}
@media (max-width:550px){
    .aboutsec .icon{
        height: 35px;
        width: 35px;
        padding-left: 8px;
        padding-top: 2px; 
=======
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vmax;
>>>>>>> 665fbe8a108310fa087c80b89d4c3a2d50d533f7
    }
}

@media(max-width:450px){
    .container .box{
<<<<<<< HEAD
        height:50vmax;
        width: 90%;
=======
        height:70vmax;
        width: 80%;
>>>>>>> 665fbe8a108310fa087c80b89d4c3a2d50d533f7
        border-radius: 1vmax;
        flex-direction: column;
    }
    .container .box2,.container .box4{
        flex-direction: column-reverse;
    }
    .box .aboutsec{
        width: 100%;
        display: flex;
        flex-direction:column;
        gap: 1vmin;
    }
    .box .aboutsec .name{
        font-size: 2.5vmax;
    }
    .aboutsec .icon{
        height: 25px;
        width: 25px;
        padding-left: 6px;
        padding-top: 0.5px;
        font-size: 15px;
        margin-top: auto; 
        margin-bottom: 0; 
    }
    .box .aboutsec .about{
        font-size:2.5vmin;
    }
    .box .img1{
        width:100%;
        background-position: center;
    }
    .box .img2{
        width:100%;
        background-position: center;
    }
    .box .img3{
        width:100%;
        background-position: center;
    }
    .box .img4{
        width:100%;
        background-position: center;
    }
    .box .img5{
        width:100%;
        background-size: cover;

    }
    .container .box5{
        height:70vmax;
    }
    .container .box2{
        height:60vmax;
    }
    footer{
        margin-top: 4vmax;
        height: 5vmax;
        font-size: 3vmin;
    }

}
