*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: #30343F;
} */
nav{
    background-color: #1B2021;
}
nav .logo{
    transition: all 0.3s ease-in-out;
    color: white;
}
nav .logo:hover{
    transform: scale(1.05);
}
.options ul li:hover{
    cursor: pointer;
}

.picsection{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5vmin;
    flex-wrap: wrap;
    perspective:1000px;
    padding-top: 2vmax;
}

.picsection .box{
    height: 60vmin;
    width: 50vmin;
    border-radius: 1vmin;
    overflow: hidden;
    box-shadow:0 0 5vmin  inset(0 0 10vmin);
    cursor: pointer;
    background-color: white;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

.picsection .box:hover{
    transform: rotateY(5deg);
    border: 1px solid black;
    box-shadow: 0 0 2vmin black;
}

.box .name{
    padding: 1vmin 0 0 1vmin;
}
.box .name p{
    margin-bottom: 0;
    font-weight: bolder;
}
.box .img{
    height: 90%;
    width: 100%;
}
.box .img1{
    background-image: url(n.jpg);
    background-size: cover;
}
.box .img2{
    background-image: url(a.jpg);
    background-size: cover;
}
.box .img3{
    background-image: url(m.jpg);
    background-size: cover;
}
.box .img4{
    background-image: url(s.jpg);
    background-size: cover;
}
.box .img5{
    background-image: url(ma.jpg);
    background-size: cover;
}


footer{
    margin-top: 4vmax;
    background-color: #353238;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    color: white;
    text-decoration: none;
}

footer p a:hover{
    text-decoration:underline;
}




/* ------------MEDIA QURIES--------------------------- */
/* @media (max-width:500px){
    .carousel-indicators{
        display: none;
    }
    .pic{
        height: 30vmax;
        width: 30vmax;
    }
    .pic img{
        object-fit: cover;
    }
    h1{
        font-size: 3vmax;
    }
    strong{
        font-size: 2vmax;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5vmax;
    }
} */

@media(max-width:450px){
    .slider img{
        height: 40vmax;
    }
    .picsection .box{
        height: 50vmax;
        width: 40vmax;
        border-radius: 1vmin;
        overflow: hidden;

    }
    footer{
        margin-top: 4vmax;
        height: 5vmax;
        font-size: 3vmin;
    }

}